#searchRow{
  display: flex;
  justify-content: center;
  align-items: center;
}
#mes{
  color: azure;
}
#mess{
  color: azure;
}
body{
  background-color: #282c34;
}
#play{
  background-color: #282c34;
}
#outlined-basic::placeholder{
  color: antiquewhite;
}
.App {
  text-align: center;
}
.card{
  margin-bottom: 10px;
  width: 45%;
}
